nav.no_auth{
    position: absolute;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

nav.no_auth > a{
    margin: 0 10px;
    text-decoration: none;
    color: gray;
}

nav.no_auth > a:hover{
    transition: color 0.2s ease-in;
    color: rgb(69, 69, 245);
}

nav.no_auth > a > button{
    font-size: 20px;
}

.form > form *{
    color: white;
    font-size: 20px;
}
