body{
    background-color: rgb(0, 0, 0);
}

form  input, form textarea{
    background-color: rgb(38, 38, 38) !important;
    border: none !important;
    border-radius: 10px !important;
    color: white !important;
}

nav{
    padding: 15px 15px;
    background-color: rgb(0, 0, 0);
    border-bottom: 1px solid rgb(38, 38, 38);
}

nav > div.search{
    position: relative;
    width: 50%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

div.search > form > input{
    color: white;
    padding: 4px 12px;
    background-color: rgb(38, 38, 38);
    border: none;
    border-radius: 10px;
}

@media (max-width: 768px) {
    div.search > form{
        width: 50%;
    }
    div.search > form > input{
        width: 100%;
    }
    div.nav-controls{
        display: flex;
    }
}


div.nav-controls > a{
    margin: 0 10px;
}

div.nav-controls > a > img{
    width: 30px;
    height: 30px;
}

@media (max-width: 768px) {
    nav > div.search{
        width: 100% ;
    }
}

::-webkit-scrollbar {
    width: 10px;
}
  
/* Track */
::-webkit-scrollbar-track {
    background: rgba(38,38,38,255); 
}

/* Handle */
::-webkit-scrollbar-thumb {
    border-radius: 3px;
    background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: rgb(195, 194, 194); 
}
